h1, h2, h3, h4, h5, p, blockquote, button {
	font-family: "Open Sans",sans-serif;
}
p {
	font-size: 16px;
	font-weight: 300;
	color: #757575;
	text-align: center;
}

h2 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}

h3 {
	font-weight: 600;
	font-size: 18px;
}

h4 {
	font-size: 30px;
}

h6 {
	font-size: 11px;
	color: #bbbbbb;
	letter-spacing: 1px;
}

a {
	color: #000;
}

blockquote {
	border-left: none;
}

.navbar-nav {
	padding-top: 15px;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #b380ff;
    background-color: #fff;
}

#front-page {
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('../images/bg1.jpg');
	background-size: cover;
	background-position: 50%;
	width: 100%;
}

#front-page p {
	font-size: 20px;
}

#front-page {
	padding: 260px 0 260px;
}

.navbar-custom {
	background-color: #fff;
	height: auto;
}

.nav-logo img{
	width: 300px;
	margin-right: 20px;
}

.front-txt {
	text-align: center;
}

.front-txt h1 {
	font-size: 90px;
	font-weight: 800;
	color: #fff;
}

.front-txt p, .price p {
	color: #fff;
	font-weight: 300;
}

.btn {
	color: #000;
	width: 200px;
	border: 1px solid;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 17px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.btn:hover {
    background: #b380ff;
    color: #fff;
    transition: all 0.3s ease 0s;
    border: 1px #b380ff solid;
}

.main-btn-left {
	float: right;
    border-color: #fff;
    background-color: #fff;
}

.main-btn-right {
	background: transparent;
	float: left;
	border-color: #fff;
	color: #fff;
}

.main-btn-right:hover {
	background-color: #fff;
	color: #000;
}

.btn-form {
	background: #b380ff;
	color: #fff;
	padding: 10px 0;
    border: 1px #b380ff solid;
}

.btn-form:hover {
	background: #9A5EF2;
	color: #fff;
	padding: 10px 0;
    border: 1px #b380ff solid;
}

fieldset {
	padding: 0;
	margin: 0;
}

.form-group {
	width: 100%;
}

.button-form {
	text-align: right;
}

#modalidades, #about-me, #testemunhal, .bg-price, #contact, #options, #formulario, #blog{
	padding: 80px 0 25px;
	text-align: center;
}

.underline {
    border-top: 4px solid #b380ff;
    display: inline-block;
    width: 160px;
    height: 1px;
    margin-top: 21px;
}

#about-me .underline {
	padding-bottom: 40px;
}

.social-media {
	margin-top: 30px;
}

.social-media ul li {
	display: inline;
	list-style-type: none;
	position: inline-block;
	margin-right: 20px;
	color: #000;
}

.mod01 {
	color: #b380ff;
}

.section-content {
	padding-bottom: 40px;
}

#testemunhal {
	background-color: #f5f5f5;
}


#about-me {
	background-color: #f5f5f5;
}

#about-me img {
	width: 100%;
}

.owl-carousel .owl-item img {
	width: 100px;
	margin:0 auto;
}

.bg-price {
	background-image: url('../images/laptop.png');
	background-size: cover;
	width: 100%;
}

.price {
	color: #fff;
}

.value h1 {
	text-align: center;
	font-size: 100px;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.value p {
	padding-bottom: 20px;
}

.value h1 > span {
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
}

#formulario {
	color: #fff;
	background-image: url('../images/bg-aside2.png');
	background-size: cover;
	background-attachment: fixed;
	padding: 260px 0;
}

.section-content .feature, .section-content .feature p {
	text-align: left;
}

.section-content span.preco {
	background-color: #99ffd6;
	font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 8px;
    color: #000;
    border-radius: 4px;
    padding: 3px 8px;
    position: relative;
}

.section-content span.preco:after {
    right: 100%;
    top: 50%;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-right: 5px solid #99ffd6;    
	content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 5px;
    margin-top: -5px;
}

.section-content .feature i {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}

.section-content .feature h3 {
	float: left;
	margin: 0;
	margin-right: 20px;
}

.posts, .posts p {
	text-align: left;
}

#contact {
	background-color: #f5f5f5;

}

.blog-picture {
	background-image: url('../images/04_th_blog.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 275px;
}

.read-more a {
	font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 3px 8px;
    margin: 0 3px;
    position: relative;
    background-color: #bbbbbb;
}

#footer {
	padding: 100px 0;
	background: #f5f5f5;
}


#footer .infos h3{
	font-size: 15px;
	text-align: left;
	margin-top: 0;
}
#footer .infos p{
	font-size: 15px;
	text-align: left;
}

#footer .infos i {
	float: left;
	margin: 0 20px 30px 0;
}





@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

@media (max-width: 400px) {
	.nav-logo img {
		width: 220px;
	}

	#front-page {
		padding: 150px 0;
	}

	#front-page h1 {
		font-size: 60px;
	}

	.section-content .feature h3 {
		float: none;
	}

	#formulario {
		padding: 150px 0;
	}

	#formulario h2 {
		font-size: 30px;
	}

}

@media (max-width: 970px) {

	#about-me img {
  		max-width: 400px;
	}

	.read-more {
		margin-bottom: 45px;
	}


}


